@charset "utf-8";
/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*{box-sizing:inherit}*:before,*:after{box-sizing:inherit}img,embed,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

/* CSS Document */
* {margin:0; padding:0;}

html {margin:0; padding:0;}
body {margin:0; padding:0; min-width: 320px; background:#7a8a91;}

@keyframes anima {   
  0% {     
    background-color: #fff154;   
  } 
  25% {     
    background-color: #ee5544;   
  }
  50% {     
    background-color: #d51544;   
  }
  75% {     
    background-color: #44aa50;   
  }
}

.container {
margin: 0 auto;
padding: 16px 12px;
width: calc( 100% - 200px );
height:400px;
font-family: 'Open Sans', Arial;
font-weight: 400;
font-size: 14px;
color: #ffffff;
animation: anima 8s cubic-bezier(.8, 1.5, .2, -1) infinite;
}

.lace {
	height: 70px;
	background: #222;
	margin-bottom: 15px;
}

.seven {
	background-image:
		radial-gradient(circle at 6px 0, rgba(255,255,255,0) 5px, #fba5ec 6px, rgba(255,255,255,0) 6px),
		radial-gradient(circle at 6px 0, rgba(255,255,255,0) 5px, #fba5ec 6px, rgba(255,255,255,0) 6px);
	background-repeat: repeat-x;
	background-position: 0 29px, 0 33px;
	background-size: 12px 12px;
}
.seven:before {
	content: "";
	display: block;
	height: 31px;
	background-image:
		linear-gradient(to right bottom, rgba(255,255,255,0) 5px, #fba5ec 6px, rgba(255,255,255,0) 6px),
		linear-gradient(to left bottom, rgba(255,255,255,0) 5px, #fba5ec 6px, rgba(255,255,255,0) 6px);
	background-repeat: repeat;
	background-size: 6px 12px, 6px 12px, 12px 11px;
	background-position: 0 0, 0 0, 0 20px;
}

.users {margin: 0; padding: 0; table-layout: fixed;  width: 100%;  white-space: nowrap;}
.users td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Column widths are based on these cells */
.row-ID {
  width: 10%;
}
.row-name {
  width: 40%;
}
.row-job {
  width: 30%;
}
.row-email {
  width: 20%;
}

 @media only screen and (max-width: 800px) {

}
