@charset "utf-8";
/* CSS Document */

html {margin:0; padding:0;}

body {margin:0; padding:0; background-color:rgba(228,180,89,1.00);}

p { font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; font-size:16px; font-weight:normal;}

.mainContainer {margin:0 auto; padding:14px 12px; width: 750px; border-box:box-sizing; background-color:rgba(119,160,208,1.00);}